<!--Copy Right  Aziz Mobarak 2019-->

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@* getting data from datatable using some voids  *@
@{ System.Data.DataTable dt = new System.Data.DataTable();
    dt = (System.Data.DataTable)ViewData["data"];
}

<!-- This is the main page -->
<div class="main_nav">
    <main>
        <div id="divmain">


            <table id="tablemain">

                @{ int i = dt.Rows.Count;
                    bool v = true;
                    publishfan.Models.publishedby p = new publishfan.Models.publishedby();
                }

                @for (int j = 0; j < dt.Rows.Count; j += 2)
                {
                    while (v)
                    {
                        <tr>
                            <td sstyle="height:30px;" colspan="2">
                                <div style="margin:-100px 0px 0px;position:absolute;transition:2s;background-image:url('/images/ad1.png');background-size:cover;background-repeat:no-repeat;width:1000px;height:198px;border:2px solid" id="tdad">
                                    <label style="color:darkblue;margin:0px 860px 10px;position:absolute;width:180px;"><strong>ADS[by publishfan]</strong></label>
                                </div>
                            </td>
                        </tr>
                        v = false;
                    }
                    <tr style="">
                        <td style="background-image:url('@dt.Rows[j][2].ToString()');background-size:cover;background-repeat:no-repeat">


                            @using (Html.BeginForm("Article", "publishfan"))
                            {
                                <input name="article" value="@dt.Rows[j][3]" type="text" style="position:absolute;display:none" />
                                <input type="submit" name="article1" value="@dt.Rows[j][0]" style="position:absolute;margin:-60px 130px 10%;border:none;background-color:white;font-size:28px;" />
                            }
                            <label class="p_table" style="position:absolute;margin:5px 70px 10px;width:350px;font-size:18px;background-color:wheat;">@dt.Rows[j][1]</label>
                            <p style="margin:80px 2px 2px;position:absolute;font-size:20px;font-style:oblique;background-color:white;">Posted by @p.publisher(dt.Rows[j][4].ToString())</p>
                        </td>
                        @if (j < dt.Rows.Count - 1)
                        {
                            <td style="background-image:url('@dt.Rows[j + 1][2].ToString()');background-size:cover;background-repeat:no-repeat">
                                @using (Html.BeginForm("Article", "publishfan"))
                                {
                                    <input name="article" value="@dt.Rows[j+1][3]" type="text" style="position:absolute;display:none" />
                                    <input type="submit" name="article2" value="@dt.Rows[j+1][0]" style="position:absolute;margin:-60px 130px 10%;border:none;background-color:white;font-size:28px;" />
                                }
                                <label class="p_table" style="position:absolute;margin:5px 70px 10px;width:350px;font-size:18px;background-color:wheat;">@dt.Rows[j + 1][1]</label>
                                <p style="margin:80px 2px 2px;position:absolute;font-size:20px;font-style:oblique;background-color:white;">Posted by @p.publisher(dt.Rows[j + 1][4].ToString())</p>
                            </td>


                        }

                    </tr>

                    if (j == 8)
                    {
                        v = true;
                    }
                    if (j == dt.Rows.Count - 1)
                    {
                        <tr style="border:none;">
                            <td colspan="2">
                                <div style="background-color:darkblue;width:134%;height:230px;position:absolute;margin:-100px -246px -20px;">
                                    <label style="color:white;margin:190px 1060px 10px;position:absolute;width:260px;"><strong>All Right Reserved publishfan 2019</strong></label>
                                    <ul style="color:white;position:absolute;margin:70px 20px 0px;height:100px;list-style:none;">
                                        <li style="height:30px;">Advrtising</li>
                                        <li style="height:30px;">Why to choose us?</li>
                                        <li style="height:30px;">Regular</li>
                                    </ul>
                                    <ul style="color:white;position:absolute;margin:70px 220px 0px;height:100px;list-style:none;">
                                        <li style="height:30px;">History</li>
                                        <li style="height:30px;">Location</li>
                                        <li style="height:30px;">About</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>

                    }
                }

            </table>

            <br />
        </div>

    </main>
    <!-- This is the end of nav left ba in the main page -->
    <nav>
        <div class="navbar" style="height:250px;height:200px;margin-top:180px;">
            @using (Html.BeginForm("filter", "Publishfan"))
            {
                <select style="margin-top:10px;" name="categorie" id="choices">
                    -
                    <option>Categories </option>
                    <option>Politics</option>
                    <option>Economic</option>
                    <option>History</option>
                    <option>Technology</option>
                    <option>Space</option>
                    <option>Scinces</option>
                    <option>Other</option>
                </select>

                <input type="search" name="key_word" placeholder="Key word" style="position:absolute;margin:60px 15px 3px;width:150px;height:30px;" />
                <input max="@i" min="4" onchange="rangevalue()" type="range" id="range" name="range" style="position:absolute;margin:110px 2px 3px;width:150px;" />
                <label id="value" style="position:absolute;margin:110px 157px 0px;">@i</label>
                <input type="submit" value="Filter" id="filter" style="margin-top:140px;font-size:22px;background-color:darkblue;color:white;" />
            }
        </div>
        @{ System.Data.DataTable dttop5 = new System.Data.DataTable();
            publishfan.Models.publishedby ptop5 = new publishfan.Models.publishedby();
            dttop5 = ptop5.topfiveusers();
        }
        <div style="position:absolute;margin:400px 0px 10px;width:180px;height:180px;">
            <div style="border:1px solid">
                <div style="margin-top:-20px;width:180px;background-color:#720BE8;color:white;font-size:14px;"><h1 style="margin-left:15px;">Top 5 publishers</h1></div>
                <table style="margin-top:-20px;width:170px">
                    @for (int n = 0; n < dttop5.Rows.Count; n++)
                    {
                        <tr style="margin-top:30px;">
                            <td>
                                <img style="margin:0px 0px 0px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;border-top-right-radius:50px;border-top-left-radius:50px;width:60px;height:60px;" src="@ptop5.publisherimage(dttop5.Rows[n][0].ToString())" />
                            </td>
                            <td>
                                @using (Html.BeginForm("getprofiles", "publishfan"))
                                {
                                    <input name="userid" value="@dttop5.Rows[n][0].ToString()" style="display:none" />
                                    <input type="submit" value="@ptop5.publisher(dttop5.Rows[n][0].ToString())" style="margin:10px  -20px 0px;width:100px;border:none;background-color:white">
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </nav>
</div>
<br />
<br />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    var d = document.getElementById('tdad');
    var t = 0;
    function ad() {
        if (t == 0) {
            d.style.marginLeft = "-700px;";
            d.style.backgroundImage = "url('/images/ad1.png')";
        }
        if (t == 1) {
            d.style.marginLeft = "700px;";
        }
        if (t == 2) {
            d.style.marginLeft = "-700px;";
            d.style.backgroundImage = "url('/images/ad2.png')";
        }
        if (t == 3) {
            d.style.marginLeft = "700px;";
        }
        if (t == 4) {
            d.style.marginLeft = "-700px;";
            d.style.backgroundImage = "url('/images/ad3.png')";
        }
        t++;
        if (t == 6) {
            t = 0;
        }
    }
    setInterval(ad, 2000);
</script>
<script type="text/javascript">
    function rangevalue() {
        //alert(document.getElementById('value').text);
        document.getElementById('value').innerText = document.getElementById('range').value;
    }
</script>







